<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conectando</title>
</head>
<body>

    <!-- header -->
    <header>
        <!-- header inner -->
        <div>


            <!-- Navbar  -->
            <div>
               <div>
                  <div>
                     <div>
                        <div>
                           <div>
                              <div>
                                 <a href="#"><img src="{{url_for('static', filename='img/logo.png')}}" alt="#" /></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div>
                        <nav>
                           <div>
                              <ul>
                                 <li>
                                    <a class="nav-link" href="#">Home</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">El autismo</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">Sobre Nosotros</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#">Contactanos</a>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <!-- End Navbar  -->

            <!-- banner -->
            <section>
                <div>
                    <div>
                        <div>
                            <div>
                                <h1>Conectando</h1>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea tempora culpa aperiam quos maiores, veniam atque aliquam corrupti. Repudiandae, laborum eaque ab minima esse ut quas.</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <figure><img src="{{url_for('static', filename='img/imgBannerInf.jpg')}}" alt="#"/></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- banner -->


        </div>
        <!-- header inner end -->
    </header>
    <!-- header end -->

    <!-- business -->
    <div class="business">

        <!-- Contenedor 1 -->
        <div>
           <div>
              <div>
                 <div>
                    <span>¿Conoces sobre el espectro autista?</span>
                    <h2>Precencia en el Mundo</h2>
                    <p>Muchas veces la desinformacion comienza desde que no sabemos que precencia real con datos se tiene el autismo en el dia a dia y como este esta presente en la vista de las diferentes organizaciones y significados que tienen ciertas caracteristicas o simbolos que este espectro tiene</p>
                 </div>
              </div>
           </div>
           <div>
              <div>
                 <div>
                    <div>
                       <div>
                          <figure><img src="{{url_for('static', filename='img/infografia4.jpg')}}" alt="#"/></figure>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, facilis corporis. Numquam aperiam voluptatem iste voluptatum ex ea eligendi, nostrum provident itaque consectetur at consequatur laborum qui sequi, voluptatibus suscipit?</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- End Contenedor 1 -->
        
        <!-- Contenedor 2 -->
        <div>
            <div>
               <div>
                  <div>
                     <h2>Que es el autismo y algunos comportamientos</h2>
                     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur beatae distinctio nihil </p>
                  </div>
               </div>
            </div>
            <div>
               <div>
                  <div>
                     <div>
                        <div>
                           <figure><img src="{{url_for('static', filename='img/infografia2.jpg')}}" alt="#"/></figure>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, facilis corporis. Numquam aperiam voluptatem iste voluptatum ex ea eligendi, nostrum provident itaque consectetur at consequatur laborum qui sequi, voluptatibus suscipit?</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Contenedor 2 -->

         <!-- Contenedor 3 -->
         <div>
            <div>
               <div>
                  <div>
                     <h2>Cuidados en Casa</h2>
                     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur beatae distinctio nihil </p>
                  </div>
               </div>
            </div>
            <div>
               <div>
                  <div>
                     <div>
                        <div>
                           <figure><img src="{{url_for('static', filename='img/infografia1.jpg')}}" alt="#"/></figure>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, facilis corporis. Numquam aperiam voluptatem iste voluptatum ex ea eligendi, nostrum provident itaque consectetur at consequatur laborum qui sequi, voluptatibus suscipit?</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Contenedor 3 -->

         <!-- Contenedor 4 -->
         <div>
            <div>
               <div>
                  <div>
                     <h2>Implementaciones en Escuelas para un Mejor Ambiente para las Personas Autistas</h2>
                     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur beatae distinctio nihil </p>
                  </div>
               </div>
            </div>
            <div>
               <div>
                  <div>
                     <div>
                        <div>
                           <figure><img src="{{url_for('static', filename='img/infografia3.webp')}}" alt="#"/></figure>
                           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, facilis corporis. Numquam aperiam voluptatem iste voluptatum ex ea eligendi, nostrum provident itaque consectetur at consequatur laborum qui sequi, voluptatibus suscipit?</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Contenedor 4 -->
        
     </div>
     <!-- end business -->

</body>
</html>