<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- style css -->
    {% block css %}{% endblock %}
    <!-- Responsive-->
    {% block responsive %}{% endblock %}
    

    <title>Conectando</title>
</head>
<body class="main-layout">

    <!-- header -->
    <header>
        <!-- header inner -->
        <div  class="head_top">

            <!-- Navbar  -->
            <a name="bannerLink"></a>
            <div class="header">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                              <div class="logo">
                                 <a href="bannerLink">{% block img1 %}{% endblock %}</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item">
                                    <a class="nav-link" href="#bannerLink"> Home  </a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#elAutismo">El Autismo</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#sobreNosotros">Sobre Nosotros</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="#contactanosLink">Contactanos</a>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>  
            <!-- End Navbar  -->

            <!-- banner -->
            <section class="banner_main">
                <div class="container-fluid">
                   <div class="row d_flex">
                      <div class="col-md-6">
                         <div class="text-bg">
                            <h1>Conectando</h1>
                            <p>Esta es la propuesta realizada para combatir la desinformación a las personas ajenas al tema y darle herramientas realmente funcionales a las personas autistas.</p>
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="text-img">
                            {% block img2 %}{% endblock %}
                         </div>
                      </div>
                   </div>
                </div>
             </section>
            <!-- End banner -->

        </div>
        <!-- header inner end -->
    </header>
    <!-- header end -->

    <!-- autismo -->
    <div class="business">

        <!-- Contenedor 1 -->
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <a name="elAutismo"></a>
                    <span>¿Conoces sobre el espectro autista?</span>
                    <h2>Presencia en el Mundo</h2>
                    <p>Muchas veces la desinformación comienza desde que no sabemos qué presencia real con datos se tiene el autismo en el día a día y como este está presente en la vista de las diferentes organizaciones y significados que tienen ciertas características.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="business_box ">
                            <figure>{% block img3 %}  {% endblock %}</figure>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        <!-- End Contenedor 1 -->

          <!-- Contenedor 2 -->
        <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Mitos que Existen Alrededor del Autismo</h2>
                  <p><strong>Además de estos datos, queremos hacer hincapié en información que de cierta forma la infografía toca pero que no es muy clara. A través del tiempo y las diferentes creencias han existido o existen creencias o datos los cuales no se han esclarecido del todo  o simplemente se dejan de lado y lo cual creemos que es muy importante:</strong></br></br>
                     <ul>
                       <li>- Antes se creia que solo los hombres presentaban este espectro, lo cual es completamente falso, esta forma de ver la vida puede presentarse tanto en hombres como en mujeres.</li>
                       <li>- Tambien se creia que solo se presenta en niños pequeños, lo cual también es falso, este sigue presentándose durante toda la vida, llegando hasta la adultez o vejez y no es curable o reversible.</li>
                       <li>- La hipersensibilidad puede presentarse de multiples maneras, pudiendo ser reactivo a la vista, auditivos o tactiles, esto puede variar del caso y del nivel de hipersensibilidad que presente cada persona con autismo.</li>
                     </ul>
                     </p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-10 offset-md-1">
               <div class="row">
                  <div class="col-md-12">
                     <div class="business_box ">
                         <figure>{% block imgn %}  {% endblock %}</figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
     <!-- End Contenedor 2 -->



        </br></br>
        <!-- Contenedor 33 -->
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                    <h2>Las Desiciones en Momentos de Crisis</h2>
                     <p>Para las personas autistas, tomar decisiones y reaccionar en situaciones difíciles puede resultar un desafío abrumador. La sobrecarga sensorial y emocional a la que se enfrentan diariamente puede dificultar su capacidad para procesar la información y tomar decisiones de manera rápida y eficiente. En momentos de estrés o crisis, es común que las personas autistas experimenten ataques de ansiedad o meltdowns, en los que pueden perder el control de sus emociones y comportarse de manera impredecible. Para aquellos que no comprenden completamente los desafíos que enfrentan las personas autistas, puede ser fácil malinterpretar su comportamiento y culparlos por su incapacidad para tomar decisiones o controlar sus emociones. Es importante tener en cuenta que estas dificultades no son una cuestión de falta de voluntad o debilidad, sino el resultado de la manera en que sus cerebros procesan la información.
                        </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="business_box ">
                            <figure>{% block img4 %}  {% endblock %}</figure>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Contenedor 2 -->
         </br></br>
         <!-- Contenedor 3 -->
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                    <h2>Como Identificar una Crisis en una Persona Autista</h2>
                     <p>
                        Los ataques se pueden presentar de distintas formas y en diferentes intensidades, mas sin embargo, aqui tratamos de englobar aquellos comportamientos mas comunes y que mas demarcan el comienzo o el proceso de una crisis.
                     </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="business_box ">
                            <figure>{% block img5 %}  {% endblock %}</figure>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Contenedor 3 -->
         </br></br>
         <!-- Contenedor 4 -->
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Implementaciones en Escuelas para un Mejor Ambiente para las Personas Autistas</h2>
                     <p>Estas personas tambien tienen derecho a aprender, crecer como personas y en si llevar una vida normal, y aunque existan escuelas especiales las cuales son especificamente para personas de la neurodiversidad, la verdad es que pueden ser accesibles o en una buena ubicacion, por lo que la adaptacion de todas las escuelas tiene que ser mas un requisito, mas que una posibilidad, no por nosotros, sino por ellos.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="business_box ">
                            <figure>{% block img6 %}  {% endblock %}</figure>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Contenedor 4 -->
        
     </div>
     <!-- end el autismo -->
     <!-- Sobre Nosotros -->
    
     <!-- Aplicacion -->
     <div class="projects">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                     <a name="sobreNosotros"></a>
                    <span>Sobre Nosostros</span>
                    <h2>¿Que es conectando?</h2>
                    <p> Es una app completamente gratis en iPhone la cual otorga un set completo de herramientas para la comunicacion. Estando en mas de 50 idiomas y sin la necesidad de base de datos o conexion a internet  </p>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-10 offset-md-1">
                 <div class="row">
                    <div class="col-md-6 offset-md-3">
                       <div class="projects_box ">
                        <p> La primera vista es una ventana en la cual puedes recibir y buscar información al respecto del autismo y los puntos que estamos atacando con esta app. </p>
                        <figure>{% block img7 %}  {% endblock %}</figure>
                        <p> La segunda vista es una herramienta la cual permite a los usuarios teclear un conjunto de imágenes y a la hora que el usuario lo quiera poder expresar estas imágenes como audio, así ayudando a comunicarse de manera en que no necesitas escribir. </p>
                        <figure>{% block img8 %}  {% endblock %}</figure>
                        <p> La tercera imagen es un "Text to speech" el cual es una herramienta la cual transforma todo el texto escrito a audio.  </p>
                        <figure>{% block img9 %}  {% endblock %}</figure>
                        
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div> 
     <!-- end Aplicacion -->

     <!-- Testimonios -->
     <div class="section">
        <div class="container">
           <div id="" class="Testimonial">
              <div class="row">
                 <div class="col-md-12">
                    <div class="titlepage">
                       <h2>Creadores</h2>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-3">
                    <div class="Testimonial_box">
                       <i>{% block img10 %}  {% endblock %}</i>
                    </div>
                 </div>
                 <div class="col-md-9">
                    <div class="Testimonial_box">
                       <h4>Roberto Adrián Cano Rodríguez</h4>
                       <p>Es increíble que en pleno 2022 siga existiendo una cantidad impresionante de desinformación relacionada al espectro autista. Vivimos en la era más conectada del planeta y a pesar de ello se sigue teniendo una idea alejada de la realidad. Gracias a esta aplicación, podemos eliminar cualquier rastro de estereotipos y otorgar herramientas necesarias.
                       </p>
                    </div>
                 </div>
              </div>
           </div>
           <div id="" class="Testimonial">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Creadores</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <div class="Testimonial_box">
                     <i>{% block img11 %}  {% endblock %}</i>
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="Testimonial_box">
                     <h4>Erick Isai Valdez Jiménez</h4>
                     <p>
                        Con la informacion y tecnologia se les puede dar un mejor estilo de vida a las personas con algun condicionamiento neurologico, la desinformacion podria ser erradicada, podria crearse un ambiente global inclusivo hacia las personas con neurodiversidad, ayudar a sentirse en una comunidad en la cual son pertenecentes y demas. Todo esto puede ser logrado, todo es un defecto domino y Conectando lo que busca es derribar la primera pieza. 
                     </p>
                  </div>
               </div>
            </div>
         </div>
        </div>
     </div>
     <!-- end Testimonio -->
     <!-- end Sobre Nosotros -->

     <!-- contactanos -->
     <div id="contact" class="contact">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                     <a name="contactanosLink"></a>
                    <h2>Contactanos por dudas y Donaciones a la Aplicacion</h2>
                    <span>Cualquier duda con la aplicacion o con conectando, o ganas de apoyar la causa ayudandonos con una donacion para poder seguir manteniendo la aplicacion, simplemente llena el formulario con tus datos y nosotros nos comunicaremos con ustedes.</span>
                 </div>
              </div>
           </div>
        </div>
        <div class="container">
           <div class="row">
              <div class="col-md-12 ">
               <div class="titlepage"><h2>Envianos Cualquier Duda que Tengas</h2></div>
               <br>
               {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  <div class="alert alert-secondary" role="alert">
                     {% for mess in messages %}
                        {{ mess }}
                     {% endfor %}
                  </div>
                  {% endif %}
               {% endwith %}
                 <form class="main_form " method="post" {% block action %}  {% endblock %} enctype="multipart/form-data" id="formulario-s">
                    <div class="row">
                       <div class="col-md-12 ">
                          <input class="form_contril" placeholder="Nombre " type="text" id="txtNombre" name="txtNombre">
                       </div>
                       <div class="col-md-12">
                          <input class="form_contril" placeholder="Email" type="text" id="txtEmail" name="txtEmail">
                       </div>
                       <div class="col-md-12">
                          <textarea class="textarea" placeholder="Mensaje" type="text" id="txtMensaje" name="txtMensaje"></textarea>
                       </div>
                       <div class="col-sm-12">
                          <input class="checkbox" type="checkbox" id="cBox" name="cBox" value="checked"><label for="cbox">Estoy de acuerdo con los <a href=" {% block link_acuerdos %} {% endblock %} "> Acuerdos y condiciones y Politicas de Privacidad</a></label>
                       </div>
                       <div class="col-sm-12">
                          <input type="submit" value="Enviar" class="send_btn">
                       </div>
                        
                    </div>
                  </form>
                  
                  {% if value['scroll'] == 'true' %}
                     <script>
                        window.onload = function() {
                           document.getElementById('formulario-s').scrollIntoView();
                           console.log
                        }
                        
                     </script>
                  {% endif %}
              </div>
           </div>
        </div>

        <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <br>
                  <br>
                  <h2>Y aqui puedes hacer tus donaciones</h2>
                  <form action="https://www.paypal.com/donate" method="post" target="_top">
                     <input type="hidden" name="hosted_button_id" value="5QNPWJZWTTNRS" />
                     {% block paypal2 %}  {% endblock %}
                     {% block paypal %}  {% endblock %}
                  </form>
                  
               </div>
            </div>
         </div>
      </div>
     </div>
     <!-- end contactanos -->

     <!--  footer -->
     <footer>
        <div class="footer">
           <div class="container">
              <div class="row">
                 <div class="col-md-12 ">
                    <div class="cont">
                       <h3> <strong class="multi"> Conectando</strong><br>
                       </h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="copyright">
              <div class="container">
                 <div class="row">
                    <div class="col-md-12">
                       <p>Conectando, creada sin fines de lucro</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </footer>
     <!-- end footer -->

</body>
</html>