{% extends './CRUD-Comments.html' %}

{% block titulo %} Comentarios Completados {% endblock %}

{% block body %} 

<div class="container">

    </br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-secondary" role="alert">
                    {% for mess in messages %}
                        {{ mess }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <br>
        <br>

        
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Nombre</th>
                    <th>Mensaje</th>
                    <th>Status</th>
                    <th><div class="float-right">
                        Acciones
                    </div></th>
                </tr>
            </thead>
            <tbody>
                {% for i in e %}
                    <tr>
                        <td> {{i.nombre}} </td>
                        <td> {{i.mensaje}} </td>
                        <td> {{i.estado}} </td>
                        <td> 
                            <div class="float-right">
                                <a class="btn btn-secondary" href="{{url_for('ccomentsRoutes.regretComment',id=i.id_comentario)}}">Devolver a En curso</a>
                                <a class="btn btn-danger" href="{{url_for('ccomentsRoutes.deleteComment',id=i.id_comentario)}}">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>

    {% endblock %}