{% extends './pagInformativa.html' %}


{% block css %} <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> {% endblock %}

{% block img1 %} <img src="{{url_for('static', filename='img/color/logo.png')}}" alt="#" /> {% endblock %}

{% block img2 %} <img src="{{url_for('static', filename='img/color/imgBannerInf.jpg')}}" alt="#"/> {% endblock %}

{% block img3 %} <img src="{{url_for('static', filename='img/color/infografia4.jpg')}}" alt="#"/> {% endblock %}

{% block img4 %} <img src="{{url_for('static', filename='img/color/infografia2.jpg')}}" alt="#"/> {% endblock %}

{% block img5 %} <img src="{{url_for('static', filename='img/color/infografia1.jpg')}}" alt="#"/> {% endblock %}

{% block img6 %} <img src="{{url_for('static', filename='img/color/infografia3.webp')}}" alt="#"/> {% endblock %}

{% block img7 %} <img src="{{url_for('static', filename='img/color/cel1.png')}}" alt="#"/> {% endblock %}

{% block img8 %} <img src="{{url_for('static', filename='img/color/cel2.png')}}" alt="#"/> {% endblock %}

{% block img9 %} <img src="{{url_for('static', filename='img/color/cel3.png')}}" alt="#"/> {% endblock %}

{% block img10 %} <img src="{{url_for('static', filename='img/color/adrian.png')}}" alt="#"/> {% endblock %}

{% block img11 %} <img src="{{url_for('static', filename='img/color/erick.png')}}" alt="#"/> {% endblock %}
