{% extends './pagInformativa.html' %}


{% block css %} <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> {% endblock %}

{% block img1 %} <img src="{{url_for('static', filename='img/logo.png')}}" alt="#" /> {% endblock %}

{% block img2 %} <img src="{{url_for('static', filename='img/imgBannerInf.jpg')}}" alt="#"/> {% endblock %}

{% block img3 %} <img src="{{url_for('static', filename='img/infografia4.jpg')}}" alt="#"/> {% endblock %}

{% block img4 %} <img src="{{url_for('static', filename='img/infografia2.jpg')}}" alt="#"/> {% endblock %}

{% block img5 %} <img src="{{url_for('static', filename='img/infografia1.jpg')}}" alt="#"/> {% endblock %}

{% block img6 %} <img src="{{url_for('static', filename='img/infografia3.webp')}}" alt="#"/> {% endblock %}

{% block img7 %} <img src="{{url_for('static', filename='img/cel1.png')}}" alt="#"/> {% endblock %}

{% block img8 %} <img src="{{url_for('static', filename='img/cel2.png')}}" alt="#"/> {% endblock %}

{% block img9 %} <img src="{{url_for('static', filename='img/cel3.png')}}" alt="#"/> {% endblock %}

{% block img10 %} <img src="{{url_for('static', filename='img/adrian.png')}}" alt="#"/> {% endblock %}

{% block img11 %} <img src="{{url_for('static', filename='img/erick.png')}}" alt="#"/> {% endblock %}
