{% extends './pagInformativa.html' %}

{% block css %} <link rel="stylesheet" href="{{url_for('static', filename='css/styleEDG.css')}}"> {% endblock %}

{% block img1 %}  {% endblock %}

{% block img2 %}  {% endblock %}

{% block img3 %}  {% endblock %}

{% block img4 %}  {% endblock %}

{% block img5 %}  {% endblock %}

{% block img6 %}  {% endblock %}

{% block img7 %}  {% endblock %}

{% block img8 %}  {% endblock %}

{% block img9 %}  {% endblock %}

{% block img10 %}  {% endblock %}

{% block img11 %}  {% endblock %}